doctype html
html
	head
		title Gas MM
		link(rel="stylesheet", href="styles/style.css")
		link(rel="stylesheet", href="styles/chosen.css")
		link(rel='shortcut icon' type='image/png' href='/faviconGas.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/scripts/chosen.jquery.js")
		script(src="/scripts/script.js")
	body
	div#wrapAll
		div#vistaTanque.vista
			div.titulo Seleccionar tanque
			select#tanqueSelect
			div.informacion
				label Ultima recarga
				span.ultimaRecLts.datos
				span.ultimaRecPct.datos
			div.capturaDatos
				label.inputLabel Lectura Actual 
				input.entradaDatos.lecturaActual.respuestas(type='text', placeholder='XXX%', name='lectActual')
			div.gasto
				label Litros Consumidos
				span.ltsConsumidos.datos
				label Litros Restantes
				span.ltsRestantes
				label Debe quedar
				span.debeQuedar
			datos.calculoRecarga
				label.inputLabel Lectura Final 
				input.entradaDatos.lecturaFinal.respuestas(type='text', placeholder='XXX%', name='lectFinal')
				div#calculoSurtido
					label Litros surtidos
					span#litrosSurtidos
					label Precio
					span#precio
					label Subtotal
					span#subTotal
					label I.V.A
					span#iva
					label Total
					span#total
		div#vistaMedidor.vista
			div.titulo Medidores
			div#medidores
			div#totalMedidores
				label#totalLitrosMedidores Litros usados: 
				span#totalLitros
				label Precio
				span#precioM
				label Subtotal
				span#subTotalM
				label I.V.A
				span#ivaM
				label Total
				span#totalM

