doctype html
html
	head
		title Chat
		link(rel="stylesheet", href="styles/style.css")
		link(rel="stylesheet", href="styles/chosen.css")
		link(rel='shortcut icon' type='image/png' href='/favicon.png')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
		script(src="/scripts/chosen.jquery.js")
		script(src="/scripts/script.js")
	body
	div#wrapAll
		div.titulo Seleccionar tanque
		select#tanqueSelect
		div#informacion
			span Ultima recarga
			span#ultimaRecLts.datos
			span#ultimaRecPct.datos
		div#capturaDatos
			label.inputaLabel Lectura Actual 
			input.entradaDatos.lecturaActual.respuestas(type='text', placeholder='XXX%', name='lectActual')
		div#gasto
			span Litros Consumidos
			span#ltsConsumidos.datos
			span Litros Restantes
			span#ltsRestantes
			span Debe quedar
			span#debeQuedar
		datos#calculoRecarga
			label.inputaLabel Lectura Final 
			input.entradaDatos.lecturaFinal.respuestas(type='text', placeholder='XXX%', name='lectFinal')
			div#calculoSurtido
				span Litros surtidos
				span#litrosSurtidos
				span Precio
				span#precio
				span Subtotal
				span#subTotal
				span I.V.A
				span#iva
				span Total
				span#total
