html,body{margin:0;padding:0;font-family:Helvetica}
p,li,div,input,label,a,ul{margin:0;padding:0}
body{background:url("../bg.png") repeat}
span{font-weight:bold;color:#444;margin-left:10px}
div.titulo{font-size:22px;font-weight:bold;color:#444}
label{display:block}
label.inputLabel{font-weight:bold;background:linear-gradient(#f1f1f1,#e2e2e2);padding:5px 10px;color:#444;border:1px solid #d4d4d4;border-right:0;border-bottom-left-radius:5px;border-top-left-radius:5px;line-height:1.5em;width:315px;float:left}
input.entradaDatos{width:51px;padding:5px;border:1px solid #d4d4d4;border-bottom-right-radius:5px;border-top-right-radius:4px;line-height:1.5em;height:24px}
#wrapAll{width:400px;position:absolute;left:0;right:0;top:100px;bottom:0;margin:0 auto;height:200px}
#tanqueSelect{margin-left:8%;psition:relative}
